
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-2/.ipynb_checkpoints/scraping_reddit_with_api-checkpoint.ipynb
week-2/scraping_reddit_with_api.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-2/.ipynb_checkpoints/2-Counting-Words-Phrases-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-3/.ipynb_checkpoints/3-Reliability-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-1/.ipynb_checkpoints/1-intro-Jinfei-checkpoint.ipynb
week-2/.ipynb_checkpoints/copy-checkpoint.ipynb
week-2/copy.ipynb
week-2/whitehouse_word_cloud.pdf
*.py
week-2/.ipynb_checkpoints/2-Counting-Words-Phrases-submission-checkpoint.ipynb
week-3/Text Annotation - Content Analysis (Responses).xlsx
week-3/.ipynb_checkpoints/3-Reliability-Jinfei-Submit-checkpoint.ipynb
week-2/Reddit_data.json
